html{
  scroll-behavior: smooth;
}

body{
  font-family: var(--font-family2) sans-serif;
}
.wrapper{

  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-family: var(--font-family1), sans-serif;
  text-align: center;
  font-size: clamp(2rem, 5vw, 3.5rem);

}
h2{
  font-family: var(--font-family1), sans-serif;
  text-align: center;
  font-size: clamp(1.5rem,4vw, 2.5rem);
}

.grid-center{
  display: grid;
  place-items: center;
}

a{
  color: var(--black);
  text-decoration: none;
  &.btn{
    background-color: var(--green);
    color: var(--white);
    border-radius: 5px;
    padding: 10px;
    transition: 0.2s;
    &:hover{
      transform: scale(1.001);
      box-shadow: var(--box-shadow);
    }
    &:active{
      animation: push 200ms 1;
    }
  }
}


ul{
  list-style-type: none;
}

/*-------ANIMATION-------- */
/* Push */
@keyframes push {
  50% {
    transform: scale(.98);
  }

  100% {
    transform: scale(1);
  }
}
