.mainContainer{
  display: grid;
  gap: 10px;

  width: 90%;
  margin: 20px auto;
  padding: 20px;

  color: var(--white);
  background-color: rgba(128,128,128, 0.9);
  border-radius: 5px;
  box-shadow: var(--shadow);

  .left{
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 5px;

    }
  }
  .right{
    display: grid;
    width: 100%;
    height: 100%;
    text-align: center;
    h2{

    }
    .btn{
      justify-content: center;
      text-align: center;
      align-self: flex-end;
    }
  }
}




@media screen and (min-width: 900px){
  .mainContainer{
    grid-template-columns: 1fr 1fr;
  }
}
