
a {
  &[download="programme cda"]{
    font-weight: bold;
    font-size: large;
    color: red;
  }
  color: var(--black);
  text-decoration: none;
  &.btn{
    background-color: var(--green);
    color: var(--white);
    border-radius: 5px;
    padding: 10px;
  }
}

.imgContainer{
  width: 100%;
  height: 200px;
  & img{
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}






.trainingContainer{
  position: relative;
  width: 90lvh;
  margin: 20px auto;

  &::after{

    content: "Eligible au CPF *";
    position: absolute;
    top: 10px;
    right: 100px;
    padding: 5px 10px;
    background-color: var(--green);
    color: var(--black);
    font-weight: bold;
    border-radius: 8px;

  }
}
