
body{
  background-color: lightgray;
}
.imgContainer{

  width: 90px;
  height: 90px;



  img{
    border-radius: 10px;
    object-fit:cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

.cardContainer{
  width: 80%;
  margin: auto;

display: flex;
  gap: 1rem;
  padding: 10px;

  .card{
    width: 300px;
    min-height: 500px;
    padding: 15px;


    background:  rgba(var(--green), 0.24);

    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    .card-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &:first-child{
      z-index: 2;
      transform: translateX(300px) translateY(100px) rotate(-10deg);

    }

    &:last-child{
      transform: translateX(-150px) translateY(80px) rotate(5deg);
    }
    .card-content{
      overflow: hidden;
      p:last-child{
        overflow: hidden;



        text-overflow: ellipsis;
      }

    }




  }

}

.card-content{

}


.carousel{
  background-color: red;
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  gap: 1rem;
  padding-inline: 1rem;
  scroll-padding-inline: 1rem;
  padding-block: 30px 60px ;
  .carousel-item{
    border: 5px solid black;

    flex: 0 0 100%; /* ou une largeur fixe */
    scroll-snap-align: center; /* ou start/end */
  }

}
